body {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.adress path, .tels path, .form_email g {
	opacity: 1;
}
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

select:focus,
input:focus,
button:focus,
div:focus {
  outline: none !important;
}
.page_item .main_fon p {
	margin: 10px 0;
}
body,
html {
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
  min-height: 50px;
}

/* Preload images */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gifbase64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.burger.active-burger{
    top: 25px;
	position: fixed;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.burger {
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 3;
  display: none;
    transition: 0.5s;
}

.burger span {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 3px;
  background: #1872C5;
  margin: 0 0 5px 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.burger.active-burger span:nth-child(1) {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 7px;
}

.burger.active-burger span:nth-child(2) {
  opacity: 0;
}

.burger.active-burger span:nth-child(3) {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
  top: -7px;
}

.menu.active-menu {
  right: 0;
	position: fixed;
	height: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.top {
  background: rgba(24, 114, 197, 0.02);
}

.district span {
  color: #999999;
}

.district select {
  border: none;
  background: rgba(24, 114, 197, 0);
  cursor: pointer;
}

.top_card {
  padding: 20px 0;
  border-bottom: 1px solid #1872C5;
  color: #1872C5;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: bold;
  letter-spacing: 1px;
}

.top_card:hover {
  color: #1872C5;
}

.logo a {
  font-weight: 900;
  font-size: 32px;
  font-weight: bold;
  color: #333333;
}

.logo a:hover {
  color: #333333;
}

.logo a span {
  color: #1872C5;
}

.logo_text {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
	font-weight: normal;
	margin: 5px 0 0 0;
}
.adress span {
  font-size: 13px;
  line-height: 22px;
  color: #999999;
}
#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100000;
		overflow: auto;
	}
#window form{
	padding-left: 0!important;
	margin-left: 0 !important;
}
	#window{
		width: 96%;
		max-width: 355px;
		margin: 50px auto;
		display: none;
		background: #1872C5;
		z-index: 999999;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 60px 30px 10px 30px;
		height: 350px;
		border-radius: 10px;
	}
	.close_custom{
		right: 18px;
    top: 22px;
    cursor: pointer;
    position: absolute;
	}
.price-ps2 a{
	cursor: pointer;
}
.close_custom::after,.close_custom::before{
	content: "";
    width: 30px;
    background: #fff;
    height: 4px;
    display: block;
    border-radius: 4px;
	
}

.close_custom::before{
	position: relative;
    transform: rotate(45deg);
    top: 4px;
}

.close_custom::after{
		    position: relative;
    transform: rotate(-45deg);
    top: 0;
	}
.adress p {
  color: #000000;
  font-size: 13px;
  line-height: 22px;
}

.tels a {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #000000;
  display: block;
}

.wt {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(39, 175, 26, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}
 .advantage.service_all {
	padding: 0;
    position: relative;
    height: 285px;
    }
    .advantage.service_all h3 {
        padding:30px 30px 30px 30px;
        width:100%;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        color: #333333;
        font-weight: bold;
        margin-bottom: 0;
		
    }
    .advantage.service_all .img_service_all {
		height: 150px;
		position: absolute;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center top;
		width: 100%;
		bottom: 0; 
    }
    .advantage.service_all .img_service_all img {
        width:100%;
    }

.call {
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 52px;
  background: #F29F05;
  display: inline-block;
  padding: 17px 25px;
  border-radius: 4px;
}

.call:hover {
  color: #fff;
}

.border_memu {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.menu .many {
  position: relative;
  padding-right: 25px;
  cursor: pointer;
}

.menu .many::after {
  content: '';
  border-right: 1px solid #1872C5;
  border-bottom: 1px solid #1872C5;
  width: 10px;
  height: 10px;
  position: absolute;
  display: block;
  right: 0;
  top: 41%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu>ul{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 0;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}
.menu>ul>li {
}
.menu>ul>li.cont {
	background: url(../img/menu_cont.png) right center no-repeat;
	padding-right: 20px;
}
.menu a {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  padding: 25px 0;
  display: block;
}
.menu ul li ul {
	z-index: 1000;
	padding: 0;
	margin: 0 0 0 -25px;
	position: absolute;
	display: none;
}
.menu ul li.id_3 ul {
	border-radius: 0 0 10px 10px;
	background: #F29F05;
	left: 0;
	-webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
	width: 100%;
	overflow: hidden;
}
.menu ul li:hover ul {
	display: block;
}
.menu ul li ul li {
	list-style-type: none;
}
.menu ul li ul li a {
	padding: 25px 25px;
    background: #F29F05;
    font-weight: normal;
    white-space: nowrap;
    color: #fff;
}
.menu ul li ul li a:hover, .menu ul li ul li.active a {
	background: #e79600;
}
.banner {
  position: relative;
  height: auto;
}

.banner::after {
  content: '';
  width: 50%;
  position: absolute;
  left: 0;
  height: 100%;
  background: url(../img/fon_banner.jpg) no-repeat center;
  background-size: cover !important;
  top: 0;
  z-index: 0;
}

.banner::before {
  content: '';
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  background: url(../img/fon_banner2.jpg) no-repeat center;
  background-size: cover !important;
  top: 0;
  z-index: 0;
}

.banner_left {
  position: relative;
  z-index: 1;
  padding: 60px 0;
}

.banner_left h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 54px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 45px;
}

.banner_left h1 span {
  color: #F29F05;
  text-decoration: underline;
}

.banner_form {
  position: relative;
}
.page_item .banner_form {
	display: none;
}

.banner_form span {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 53px;
  left: -53px;
}

.banner_input1 {
  font-size: 20px;
  line-height: 16px;
  color: #fff;
  padding: 24px 35px;
  border: 1px solid rgba(255, 255, 255, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  width: 100%;
  max-width: 330px;
}
.brend img{
	max-width: 100%;
}
#success-response-1 {
    color: #fff;
    margin: 0;
    padding: 0 0 0 40px;
}
#success-response-2 {
    color: #fff;
    margin: 0;
    padding: 20px 0 20px 0px;
}
#success-response-3 {
    color: #fff;
    margin: 0;
    padding: 0;
}
#success-response-4 {
    color: #fff;
    margin: 0;
    padding: 0;
}
.banner_input1::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
}

.banner_input1::-moz-placeholder {
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
}

.banner_input1:-ms-input-placeholder {
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
}

.banner_input1::-ms-input-placeholder {
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
}

.banner_input1::placeholder {
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
}

.banner_input1:focus {
  color: #333333;
  background: #fff;
}

.banner_submit {
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 24px 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: #F29F05;
  display: block;
  width: 100%;
  max-width: 330px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat !important;
  background-position: 90% center;
  cursor: pointer;
}

.banner_info {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 11px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 11px 0px 25px rgba(0, 0, 0, 0.25);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

.banner_info::after {
  background: #156DBE;
  mix-blend-mode: multiply;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner_info p {
  position: relative;
  z-index: 1;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

.banner_info p span {
  font-size: 16px;
  line-height: 26px;
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  margin-top: 10px;
}

.main_fon {
  padding: 90px 0;
  background-image: url(../img/main_fon.png);
  background-repeat: no-repeat;
  background-position: 90% 130%;
}
.main_fon.page_fon {
	padding: 90px 0 0 0;
}
.h2 {
  font-weight: 800;
  font-size: 38px;
  line-height: 48px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 0;
}

.advantage {
  height: 250px;
  padding: 40px 45px;
  background: rgba(24, 114, 197, 0.05);
  border-radius: 10px;
}

.advantage p {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}

.advantage_top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89px;
}

.advantage_top h3 {
  margin-left: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 0;
}

.kind {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: block;
  color: #333;
}

.kind:hover {
  color: #333;
}

.kind:hover h2 {
  color: #F29F05;
}

.kind:hover .kind_link {
  background: #F29F05;
  color: #fff;
}

.kind_top {
  padding: 45px 60px;
}

.kind_top h2 {
  margin-bottom: 35px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.kind_item {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
}

.kind_link {
  display: block;
  padding: 37px 0;
  background: #F29F05;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.process {
  padding: 70px 0 90px 0;
  background-image: url(../img/slider_fon.png);
  background-repeat: no-repeat;
  background-position: 10% 110%;
  background-color: #1872C5;
}
.process h2 {
	color: #fff;
}
.process .all_link {
	color: #fff;
}
.process .process_img {
  height: 340px;
  margin-right: 30px;
  border-radius: 6px;
}

.process .process_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.slider_buttons .slick-arrow {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  height: 155px;
}

.slider_buttons .slick-arrow:hover {
  background: #F29F05;
}

.slider_buttons .slick-arrow:hover path {
  fill: #fff;
}

.slider_buttons .slick-arrow:hover line {
  stroke: #fff;
}

.process_slider {
  width: 950px;
}

.reviews {
  padding-top: 90px;
}

.review {
  opacity: 0.15;
  margin-right: 30px;
  padding: 50px 60px;
  background: rgba(24, 114, 197, 0.05);
  border-radius: 10px;
  width: 700px !important;
  position: relative;
  margin-top: 22px;
}

.review > p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.slick-center {
  opacity: 1;
}

.quotes {
  position: absolute;
  top: -21px;
  left: 60px;
}

.review_info p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.review_info span {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  opacity: 0.75;
}

.reviews_dots {
  margin-top: 40px;
}

.reviews_dots ul {
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding-left: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews_dots ul li {
  margin: 0 20px;
  width: 26px;
  height: 26px;
  border: 2px solid rgba(24, 114, 197, 0.15);
  border-radius: 5px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.reviews_dots ul li.slick-active {
  border: 2px solid #F29F05;
}

.reviews_dots ul li.slick-active button {
  background: #F29F05;
}

.reviews_dots ul button {
  text-indent: -9999999px;
  background: none;
  border: none;
  max-width: 8px;
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.form {
  background: #F29F05;
  border-radius: 10px;
  padding: 55px 70px;
  position: relative;
  z-index: 1;
  top: 90px;
}

.form form {
  margin: 40px 0;
}

.form_input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 70px;
  padding: 0 35px;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.3);
}
.ajax_form .error {
	border: 1px solid rgba(255,0,0,1);
	background: rgba(255,0,0,0.3);
}
.form_input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.form_input::-moz-placeholder {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.form_input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.form_input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.form_input::placeholder {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.form_submit {
  background-color: #1872C5;
}

.form_a {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  font-weight: bold;
}

.form_a:hover {
  color: #fff;
}

.form_wt {
  width: 50px;
  height: 50px;
  background: #27AF1A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_email {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  font-weight: bold;
}

.form_email:hover {
  color: #fff;
}

.form_email.form_email--footer {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
}
.ymaps-2-1-77-image-with-content {
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.map_div {
    padding: 0;
    text-align: center;
    position: relative;
    background: #27AF1A;
	height: 10px;
}
.name_iconcontent {
	position: relative;
	right: -40px;
	background: #fff;
	display: block;
}
.button_map {
	font-size: 13px;
    line-height: 60px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F29F05;
    display: block;
    width: 100%;
    max-width: 330px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
/*.map_div a {
	font-size: 20px;
    display: inline-block !important;
    width: 360px;
    height: 80px;
    background: #F29F05;
    border-radius: 5px;
    margin: -27px 0;
    line-height: 80px;
}*/
.fullsize-map {
    font-size: 24px;
    display: inline-block !important;
    width: 360px;
    height: 80px;
    background: #27AF1A;
    border-radius: 5px;
    margin:0;
	position: relative;
    top: -70px;
    line-height: 80px;
    cursor: pointer;
	transition: all 0.2s linear;
}
.fullsize-map:hover {
	top: -75px;
}
.fullsize-map-active {
	    top: auto;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
}
.fullsize-map-active:hover {
	top: auto;
}
.map_div a svg {
    position: relative;
    top: 5px;
}
footer {
  padding: 65px 0;
  background: rgba(24, 114, 197, 0.05);
}

.copy {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.copy a {
	color: #999999;
	text-decoration: underline;
}
.footer_menu h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 25px;
}

.footer_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_menu ul a {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 12px;
  display: block;
}

.banner2 {
  background-image: url(../img/fon_banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
.page_item .banner2 {
	background: #1872C5;
}
.page_item .banner_left {
    padding: 60px 0 20px 0;
}
.breadcrumbs ul {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.breadcrumbs ul li {
  margin-right: 12px;
}
.breadcrumbs ul li.bread_logo {
	padding: 15px;
    margin: -25px 0;
	background: #fff;
}
.breadcrumbs ul li.separator {
	width: 5px;
	height: 5px;
	background: #F29F05;
	border-radius: 50%;
}
.breadcrumbs ul li span {
  color: #FFFFFF;
}

.breadcrumbs ul li span a {
  opacity: 0.65;
  color: #FFFFFF;
}

.brends {

}

.brend {
  height: 120px;
  background: #fff;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.t-0 {
  top: 0 !important;
}

.price {
	transition: all 0.2s linear;
	cursor: pointer;
  display: block;
  border: 1px solid #1872C5;
  border-radius: 10px;
  font-weight: bold;
}
.price:hover, .row.mb-5 .col-3.mb-4:last-child .price, .price_wrap .price_box:last-child  .price {
	border: 1px solid #F29F05;
}
.price:hover span, .row.mb-5 .col-3.mb-4:last-child .price span, .price_wrap .price_box:last-child .price span {
	background: #F29F05;
	color: #fff;
}
.price_top_num {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
	font-weight: normal;
}
.price span {
	transition: all 0.2s linear;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  line-height: 58px;
  letter-spacing: 0.08em;
  text-align: center;
  background: #1872C5;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 10px 10px;
}

.price_top {
  height: 150px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  padding: 0 30px;
  text-align: center;
}

.rotate {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #999999;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 53px;
  left: -30px;
  white-space: nowrap;
}

.info {
  background: #F8F8F8;
  padding: 40px 0;
  border-radius: 10px;
}

.info_item {
  margin-right: 20px;
}

.info_item:last-child {
  margin-right: 0;
}

.info_item p {
  font-weight: 900;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  color: #1872C5;
  margin-bottom: 15px;
}
.card_a--mobile{
   width: 52px;
   height: 52px;
   justify-content: center;
   align-items: center;
   background: #F29F05;
   margin-right: 15px;
   border-radius: 4px;
   color: #fff;
   line-height: 30px;
   font-size: 30px;
   font-weight: 900;
   
}
.info_item span {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}

.process_img2 {
  height: 520px;
  border-radius: 10px;
}

.process_img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.slider_buttons2 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.slider_buttons2 .slick-arrow {
  display: block;
  margin-top: 30px;
  width: 100%;
  background: #F8F8F8;
  border-radius: 10px;
  height: 155px;
}

.slider_buttons2 .slick-arrow:hover {
  background: #F29F05;
}

.slider_buttons2 .slick-arrow:hover path {
  fill: #fff;
}

.slider_buttons2 .slick-arrow:hover line {
  stroke: #fff;
}

.banner_img {
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner_img img {
  width: 100%;
}

.bg_gray {
  background: #F3F8FC;
}

.stage_top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding-right: 20px;
}

.stage_top span {
  font-weight: bold;
  font-size: 60px;
  line-height: 34px;
  color: #1872C5;
  font-weight: bold;
}

.stage h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 20px;
}

.about2_top {
  height: 100px;
  background: rgba(24, 114, 197, 0.05);
  border-radius: 10px 10px 0px 0px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about2_top p {
  font-weight: 900;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.about2_top span {
  font-size: 16px;
  line-height: 26px;
  color: #333;
}

.about2_p {
  height: 245px;
  padding: 30px 30px 0 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  line-height: 26px;
}

.gallery_item--big {
  height: 730px;
  display: block;
}

.gallery_item--big img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery_item {
  height: 350px;
  margin-bottom: 30px;
  display: block;
}

.gallery_item img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.map>ymaps {
	height: 300px !important;
}
.box_map_user {
	display: flex;
	align-items: center;
}
.photo_user {
	margin-right: 10px;
	width: 90px;
}
.box_desc_user {
	margin-left: 10px;
	width: 100%;
}
.name_user {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: bold;
    position: relative;
}
.job_map {
	margin-bottom: 10px;
}
.yare_map {
	margin-top: 5px;
}
.price_list {
    margin:30px 0;
}
.price_list div {
    line-height: 26px;
    border:1px solid rgba(0, 0, 0, 0.05);
    padding:7px 10px;
}
.price_list div.button_price {
    cursor:pointer;
    border:3px solid #fff;
    transition: all 0.2s linear;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.08em;
    text-align: center;
    background: #1872C5;
    border-radius: 10px;
    text-transform: uppercase;
}
.price_list div.button_price:hover {
    background: #F29F05;
    color: #fff;
}
#block_pay_pal .left {
	width: 100%;
	padding: 20px;
    background: url(../img/cart-paypal.png) top left no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 10px;
	max-width: 570px;
	display: inline-block;
}

#block_pay_pal .left input.phone_pay, #block_pay_pal .left input.price_pay, #block_pay_pal .left input.name_pay{
    max-width: 280px;
	width: 100%;
    height: 48px;
    border: 0px;
    margin: 10px 0 0 0px;
    padding: 0 20px;
	border-radius: 3px;
}
#block_pay_pal .left input.submit_pay {
    height: 50px;
    margin: 10px 0 0 0px;
    display: block;
    float: left;
	display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #fc8208;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.2), 0 0 5px #ffab57 inset;
    background: #fc8208;
    background: -moz-linear-gradient(top, #fc8208 1%, #e47200 100%);
    background: -webkit-linear-gradient(top, #fc8208 1%,#e47200 100%);
    background: linear-gradient(to bottom, #fc8208 1%,#e47200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8208', endColorstr='#e47200',GradientType=0 );
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
	font-weight: bold;
}
.h3_cart{
	font-size: 19px;
	line-height: 29px;
	font-weight: bold;
	margin-bottom: 15px;
}
.yur_ingo a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.yur_ingo {
	float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 9px 0 0 0px;
    background: #1664a6;
    border-radius: 0 3px 3px 0;
    padding: 5px 15px 0 15px;
    height: 50px;
    box-sizing: border-box;
}
.video_bg {
	background: url(../img/video_bg.jpg) center center no-repeat;
}
.video-link{
    cursor:pointer;
    display:block;
    color:#fff;
	    background-color: #F8F8F8;
	    height: 300px;
    transition: all 0.5s;
	position: relative;
	
}
.overlay{
  position: fixed;
  top:0px;
  left: 0px;
  height:100%;
  width:100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  opacity:0.9;
  display:none; 
}
.main-vid-box{
  position: fixed;
   width: 100%;
  height:100vh;
  display:none;
  top:0px;
  left:0px;
  z-index: 999;
}
.videoWrapper {
  position: relative;
  z-index:999;
  background-color:#000;
  width:100%;
  height: 100%;
  margin:0 auto;
}
.videoWrapper video {
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100% !important;
	height: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-width: 40px;
	border-style: solid;
	border-color: transparent;
}
.video-block .close{
    position: fixed;
    top:30px;
    right:30px;
    width:16px;
    height:16px;
  z-index:9999;
  display:none;
  cursor: pointer;
  }
.pay_button {
	text-decoration: none;
	margin-right: 30px;
	border: 1px solid #42a4ff;
	background-color: #084884;
}
@media only screen and (max-width: 1199px) {
  .wt {
    display: none !important;
  }

  .kind_top {
    padding: 25px 18px;
  }

  .process_slider {
    width: calc(100% + 30px);
  }
	.about2_p{
		height: auto;
		padding: 30px;
	}
}

@media only screen and (max-width: 991px) {
  .logo_text {
    display: none;
  }

  header .adress {
    display: none !important;
  }
	.gallery_item--big {
    	height: 450px;
	}
	.gallery_item {
    	height: 210px;
	}
  .banner::after {
    width: 58%;
  }

  .banner_left h1 {
    font-size: 35px;
    line-height: 45px;
  }

  .banner_form span {
    display: none;
  }

  .h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .process .process_img {
    height: 270px;
  }

  .slider_buttons .slick-arrow {
    height: 90px;
  }

  .slider_buttons2 .slick-arrow {
    height: 90px;
  }
  .menu>ul>li.cont {
    background-position: 98% center;
	}
	.info_items{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;	
	}
	.info_item{
		margin: 0 0 20px 0	;
	}
	.info_item p{
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 767px) {
  .burger {
    display: block;
  }
	.process .process_img{
		margin-right: 0;
	}
	.gallery_item--big {
    	height: 330px;
	}
	.gallery_item {
    	height: 150px;	
	}
  .menu {
    position: absolute;
	  height: 100%;
    top: 0;
    right: -100%;
    z-index: 2;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    background: #f3f8fc;
    width: 100%;
    padding-top: 60px;
	padding-right: 20px;
  }
	.process_slider{
		width: 100%;
	}
	.slider_buttons button, .slider_buttons2 button{
		max-width: 90px;
	}
	.slider_buttons2 #prev{
		margin-right: 20px;	
	}
	.slider_buttons, .slider_buttons2{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: flex-start;
		display: flex;
	}
	.review{
		width: 560px!important;
	}
	.slider_buttons #prev{
		margin-right: 20px;
	}
  .menu .many::after {
    right: 15px;
    top: 19%;
  }

  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    text-align: right;
  }

  .menu ul a, .menu ul .cont div {
    padding: 0 0px 0 0;
    margin-bottom: 10px;
    font-size: 20px;
	  line-height: 30px;
	  font-weight: bold;
  }
	.menu ul ul a {
		font-weight: normal;
	}
	.menu>ul>li.cont {
		padding-right: 0;
    	background-position: 100% 12px;
	}
	.menu>ul>li.cont>a {
		padding-right: 20px;
	}
	.menu ul li ul, .menu ul li.id_3 ul{
		display: block;
		background: none;
		position: relative;
		margin: 0;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    width: 100%;
	}
	.menu ul li ul li a{
		font-weight: bold;
		font-size: 17px;
		line-height: 26px;
		color: #333333;
		padding: 0 20px 0 0;
		display: inline-block;
		background: none;
		white-space: normal;
		position: relative;
	}
	.menu ul li ul li a:after {
		content: '';
		width: 5px;
		height: 5px;
		background: #333;
		border-radius: 50%;
		position: absolute;
		right: 0;
		top: 10px;
	}
	.menu ul li ul li a:hover, .menu ul li ul li.active a {
		background: none;
		border-bottom: 1px dashed #333;
	}
	.fullsize-map, .fullsize-map:hover {
		top: 0;
	}
	.map_div {
		height: auto;
	}
}
@media only screen and (max-width: 575px) {
	.top_card, .district, .banner::before{
		display: none!important;
	}
	.banner::after{
		width: 100%;
	}
	.gallery_item{
		height: 330px;
	}
	.stage_top{
		margin-bottom: 30px;
	}
	.stage{
		margin-top: 20px;
	}
	.advantage{
		padding: 20px;
	}
	.info_item p {
		font-size: 32px;
		line-height: 32px;
	}
	.process_img2 {
    	height: 300px;
	}
	.breadcrumbs ul{
		line-height: 30px;
		flex-wrap: wrap;
	}
	.review {
    	width: 310px!important;
		padding: 40px 20px 30px 20px;
	}
	.quotes{
		left: 20px;
	}
	.form {
		background: #F29F05;
		border-radius: 0;
		padding: 30px 20px 20px 20px;
		position: relative;
		z-index: 1;
		width: calc(100% + 30px);
		top: 0;
		margin: 40px 0 0px 0;
		left: -15px;
	}
	.process .form {
		width: 100%;
		left: 0;
	}
	.form_a{
		line-height: 30px;
	}
	.form_email{
		line-height: 45px;
	}
	.map_div a {
		font-size: 16px;
		display: flex!important;
		width: 360px;
		height: 70px;
		max-width: 90%;
		padding: 0 15px;
		background: #F29F05;
		border-radius: 5px;
		margin: 0 auto;
		line-height: 25px;
	}
	.map_div a svg{
		top: 0;
	}
	.main_fon{
		padding:45px 0;
	}
	.h1{
		font-size: 28px;
		line-height: 38px;
	}
	.advantage.service_all h3{
		font-size: 20px;
		line-height: 30px;
	}
	.video-link {
    height: 360px;}
.breadcrumbs ul li.bread_logo {
	padding: 10px;
    margin: 0 0;
	background: #fff;
}
.tels a{
    font-size: 13px;
}
.logo a{
    font-size: 28px;
}
.burger{
    top: 105px;
}
	
}
@supports (-webkit-appearance:none){
.lb-cancel{background:url(../img/loading.gif) no-repeat}
.lb-nav a{background-image:url("data:image/gifbase64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==")}
.lb-nav a.lb-prev{background:url(../img/prev.webp) left 48% no-repeat}
.lb-nav a.lb-next{background:url(../img/next.webp) right 48% no-repeat}
.lb-data .lb-close{background:url(../img/close.webp) top right no-repeat}
/*.banner::after{background:url(../img/fon_banner.webp) no-repeat center}*/
.banner::before{background:url(..//img/fon_banner2.webp) no-repeat center}
.banner_submit{background-image:url(../img/Vector.webp)}
.main_fon{background-image:url(../img/main_fon.webp)}
.process{background-image:url(../img/slider_fon.webp);padding:45px 0;}
.banner2{background-image:url(../img/fon_banner3.webp)}
}

 @media only screen and (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media only screen and (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media only screen and (max-width: 767px){

@supports (-webkit-appearance:none){

}

}.grtvideo-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(0,0,0, 0.85);
	z-index:99999;
}

.grtvideo-popup-content {
	margin-top:150px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	position:relative;
}

.grtvideo-popup-close {
	position:absolute;
	top:-35px;
	right:0;
	color:#FFF;
	font-size:25px;
	cursor:pointer;
}
.video-link {
    cursor: pointer;
    display: block;
    color: #fff;
    background-color: #ffffff;
    height: 300px;
    /* width: 95%; */
    /* margin: 0px auto; */
    transition: all 0.5s;
    position: relative;
}.youtube-link {
    cursor: pointer;
    display: block;
    color: #fff;
    background-color: #ffffff;
    height: 300px;
    width: 91%;
    float: left;
    /* margin: 0px auto; */
    transition: all 0.5s;
    position: relative;
}
.grtyoutube-iframe {
	width:100%;
	height:480px;
}

@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}
